html {
  scroll-padding-top: 150px;
}

#sae_logo {
  height: 80px;
  width: auto;
}

#dossier-d-etudes, main {
  margin-top: 150px;
}


.icon-size {
  font-size: 2rem;
}

.card-body .mb-2 {
  margin-bottom: 0.5rem;
}

#carouselExample1 .carousel-control-prev,
#carouselExample1 .carousel-control-next {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}

